@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: white;
}