<main>
    <div class="image-container">
        <img src="https://images.wallpaperscraft.com/image/single/bmw_m2_bmw_car_317510_3840x2400.jpg" alt="Car">
        <div class="overlay-text">
            <p>Rent Now with <span>SUPER CARS</span></p>
            <button class="discover-button" (click)="scrollToCars($event)">discover Now</button>
        </div>

    </div>

    <form>
        <mat-form-field style="margin-right: 5px;">
            <mat-label>Filter by seats</mat-label>
            <mat-select [(ngModel)]="selectedSeat" name="numberOfSeats">
                @for (seat of numberOfSeats; track seat.value) {
                <mat-option [value]="seat.value">{{ seat.value }}</mat-option>
                }
            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Filter by year</mat-label>
            <mat-select [(ngModel)]="selectedYear" name="yearModel">
                @for (year of yearModel; track year.value) {
                <mat-option [value]="year.value">{{ year.value }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>

    <section id="car-list">
        <ng-container *ngFor="let car of cars$ | async">
            <app-car *ngIf="(!selectedSeat || car.numberOfSeats === selectedSeat) 
             && (!selectedYear || car.modelYear === selectedYear)" [car]="car">
            </app-car>
        </ng-container>

        <mat-spinner *ngIf="loading()" diameter="200"></mat-spinner>
    </section>





</main>