section{
    width: 100%;
     display: grid;
     grid-template-columns: repeat(3, 400px);
     gap: 40px;
    margin: auto;
    margin-top: 60px;
    align-items: center;
    justify-content: center;text-align: center;
}