<div class="mat-dialog-content" mat-dialog-content>
  <h1 mat-dialog-title>Rent a Car</h1>
  <form *ngIf="car$ | async as car" #form="ngForm" (ngSubmit)="onRent(form, car)">
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <input matInput (dateChange)="checkAvailability(data.id, fromDate, toDate)" [matDatepicker]="picker1"
        [(ngModel)]="fromDate" name="fromDate" required />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>to</mat-label>
      <input matInput (dateChange)="checkAvailability(data.id, fromDate, toDate)" [matDatepicker]="picker2"
        [(ngModel)]="toDate" name="toDate" required />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    
      <mat-error *ngIf="isAvailable === false">
        Car is already reserved in this period
      </mat-error>

    <mat-error *ngIf="fromDate > toDate">
      From date cannot be later than To date
    </mat-error>




    <mat-label *ngIf="car$ | async as car">
      Total cost = {{ getTotalCost(car, fromDate, toDate) }}₪
    </mat-label>

    <mat-label>Rent period = {{fromDate && toDate && fromDate < toDate ? (toDate.getTime() - fromDate.getTime()) / (1000
        * 60 * 60 * 24) : 0}} day/s</mat-label>




        <div class="mat-dialog-actions" mat-dialog-actions>
          <button mat-button type="button" (click)="onNoClick()">Cancel</button>
          <button matButton [disabled]="form.invalid || fromDate > toDate || isAvailable === false" mat-flat-button color="primary" type="submit"
            [mat-dialog-close]="true">
            Rent
          </button>
        </div>
  </form>
</div>