<!-- <img src="https://images.pexels.com/photos/168938/pexels-photo-168938.jpeg"> -->
<!-- <p>Rent and Go</p> -->
<header>
    
    <img src="logo.png">
    <a class="logo" routerLink="/">Car Rental</a>
    <ul>
        <li><a *ngIf="!(authService.isLoggedIn$ | async)" routerLink="/login">Login</a></li>
        <li><a *ngIf="!(authService.isLoggedIn$ | async)"  routerLink="/signup">sign up</a></li>
        <button *ngIf="(authService.isLoggedIn$ | async)"  (click)="onLogOut()" >logout</button>

    </ul>
    <button   *ngIf="authService.isAdmin$ |async" (click)="openDialog()">add car</button>
</header>
