<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over">
    <mat-nav-list>
      <img *ngIf="(authService.isLoggedIn$ | async) && !(authService.isAdmin$ |async)"
        src="https://www.transparentpng.com/download/user/gray-user-profile-icon-png-fP8Q1P.png">
      <button *ngIf="(authService.isLoggedIn$ | async) && !(authService.isAdmin$ |async)" class="side-nav-button"
        mat-button routerLink="/" (click)="drawer.close()">
        <mat-icon>directions_car</mat-icon>
        Cars
      </button>

      <button *ngIf="(authService.isLoggedIn$ | async) && !(authService.isAdmin$ |async)" class="side-nav-button"
        mat-button routerLink="/history" (click)="drawer.close()">
        <mat-icon>history</mat-icon>
        History
      </button>
      <a  *ngIf="!(authService.isLoggedIn$ | async)" class="side-nav-button" mat-button routerLink="/login" (click)="drawer.close()" >Login</a>
      <a *ngIf="!(authService.isLoggedIn$ | async)" class="side-nav-button" mat-button routerLink="/signup" (click)="drawer.close()">Sign Up</a>
      <button *ngIf="(authService.isLoggedIn$ | async)" class="side-nav-button" style="color: red;" mat-button
        (click)="onLogOut()">Logout</button>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar color="primary" class="header">

      <button mat-icon-button class="menu-button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>


      <a class="logo" routerLink="/">Super Cars</a>

      <span class="spacer"></span>
      <ng-container *ngIf="!(authService.isLoggedIn$ | async)">
        <a fxHide.xs fxHide.sm mat-button routerLink="/login">Login</a>
        <a fxHide.xs fxHide.sm  mat-button routerLink="/signup">Sign Up</a>
      </ng-container>

      <button matFab extended="" fxHide.xs fxHide.sm style="background-color: rgb(255, 255, 255); color: red;"
        *ngIf="(authService.isLoggedIn$ | async)" (click)="onLogOut()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
      <button class="button-style" mat-button *ngIf="authService.isAdmin$ | async" (click)="openDialog()">+ Add
        Car</button>
    </mat-toolbar>


    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>