.sidenav-container {
  height: 100vh;
  width: 100%;

}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #cccccc;
  top: 0;
  position: sticky;
  z-index: 999;
  align-items: center;

}

.logo-img {
  height: auto;
  width: 100px;
  margin-right: 8px;
}

.logo {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  background-color: transparent;
  text-decoration: none;
  color: black;

}

.spacer {
  flex: 1 1 auto;
}

.content {
  box-sizing: border-box;
  background-color: white;
}

mat-nav-list {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.side-nav-button {
  height: 100px;
  background-color: rgb(231, 228, 224);
  font-size: 1.3rem;
  margin-bottom: 10px;

}

a,
.button-style {
  padding: 20px;
  background-color: black;
  font-size: 100%;
  box-sizing: border-box;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

a {
  font-size: 12px;
}


mat-icon {
  font-size: 25px;
  width: fit-content;
  height: auto;

}

.menu-button {
  margin-right: 30px;
}

mat-toolbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;


}
.all-rentals-button{


  font-size: 12px;
  width: fit-content;
  height: fit-content;
  
}